html {
	font-size: 16px;
	font-family: 'Merriweather Sans', sans-serif;
}

h1, h3, h4, h5 {
	font-family: 'Merriweather', serif;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
}

.left-col {
	padding: 0 1rem 0.5rem 0;
}

.mid-col {
	padding: 0 0.5rem 0.5rem 0.5rem;
}

.right-col {
	padding: 0 0 0.5rem 1rem;
}

/* Navigation Section */
.navbar {		
	border-bottom: 0.2rem solid #19457a;
}

.navbar .navbar-brand {
	padding: 0 0.9375rem;
}

.navbar .brand {
	display: inline;
	width: 3.125rem;
	height: 3.125rem;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	background-color: #19457a;
	color: white;
}

/* Masthead Section */
.masthead {
	background: #0A1B30;	
	background-image: url('../images/intro-bg-hue-dark.jpg');	
	background-size: cover;
	background-position: center center;	
	background-repeat: no-repeat;
	padding: 0;
	margin-bottom: 0;
}

.masthead .container {
	padding: 5rem 12rem; 
	text-align: center;
	color: white;
}

.masthead h1 {
	text-shadow: 0.1875rem 0.1875rem #19457a;		
}

.masthead p {
	text-shadow: 0.125rem 0.125rem #19457a;		
	font-size: 1.3rem;
}


/* Projects Section */
.projects {
	padding-bottom: 1.25rem;
}

.projects .col-md-4 img{
	width: 100%;
}

.projects .project-link {			/* CAN MAKE INTO A BUTTON CLASS */
	color: white;
	text-decoration: none;
	background: #004d83;
	font-weight: bold;
	padding: 0.375rem 0.625rem;
	border-radius: 0.125rem;
	box-shadow: 0.09375rem 0.09375rem gray;
}

.projects .project-link:hover {		/* CAN MAKE INTO A BUTTON CLASS */
	color: #004d83;
	background: white;	
	font-weight: normal;
	border: 1px solid #004d83; 
}

/* About Section */
.about {
	background: #F9F9F9;	
}

.about .introduction,
.about .more-about {
	margin-bottom: 2.25rem;
}

.about .subhead:before {
	content: "";
	background: #004d83;
	padding-left: 0.5rem;
	margin-right: 0.5rem;
}

.about h5 {
	text-transform: none;
	letter-spacing: 0;
	color: #004d83;
	font-weight: bold;
}

/* Footer Section */
.footer-content {
	padding: 2rem 0;
	color: white;
	border-top: 0.2rem solid #19457a;	
	background: #000A18; /* Old browsers */
	
	/* http://www.colorzilla.com/gradient-editor/ hsl: 0 -50 -67*/
}

.footer-content a {
	text-decoration: none;
	color: #6ca1e1;
	font-weight: normal;
}

.footer-content a:hover {
	color: #f7f7f7;
	font-weight:bold;
}

.footer-content .social {
	padding: 0;
	list-style-type: none;
}

.footer-content .social > li {	
	margin-bottom: 0.3rem;	
}



/* Media Queries */
@media only screen and (max-width: 1000px) { 
	.left-col {
		padding: 0 0 1em 0;
	}
	
	.mid-col {
		padding: 0 0 1rem 0;
	}
	
	.right-col {
		padding: 0 0 1rem 0;
	}	
	
	.masthead .container {
		padding: 5rem 5rem;
	}
	
	.projects .col-md-4 {
		text-align: center;
		margin-bottom: 0.5rem;
		border-bottom: 0.0625rem solid black;
		padding: 1rem 5rem;
	}
	
	.projects .project-link {
		padding: 0.375rem 4rem;
	}	
}

@media only screen and (max-width: 770px) { 
	h3 {
		text-align: center;
	}
	
	.masthead p {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 540px) { 
	.masthead .container {
		padding: 5rem 2rem;
	}
	
	.projects .col-md-4 {
		padding: 1rem 2rem;
	}
}

@media only screen and (max-width: 450px) { 
	.navbar .brand-name {
		display: none;
	}
	
	.masthead .container {
		padding: 3rem 2rem;
	}
	
	.masthead h1{
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 340px) {
	.masthead {
		background: #0A1B30;	
	}
	
	.masthead .container {
		padding: 3rem 1rem 1rem 1rem;
	}
	
	.masthead h1{
		font-size: 1.25rem;
	}
	
	.masthead p{
		font-size: 0.9rem;
		text-shadow: none;
	}
	
	.projects .col-md-4 {
		padding: 1rem 0.25rem;
	}
	
	.projects .project-link {
		padding: 0.375rem 2.5rem;
	}	
}




